*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #414fa8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-section{
    margin-top: 3rem;
    border: #414fa8 0.5px solid;
    background-color: white;
    padding: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;

}

/* .main-section h1{
    margin-top: 4rem;
} */

/* .main-section .radio-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .check-in-check-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.check-in-out .check-in-div, .check-in-out .check-out-div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#check-in, #check-out{
    background-color: white;
}

#where{
    margin-bottom: 1rem;
}

.btn{
    margin-top: 2rem;
}